.body{
  
    height: 100vh;
    background-color: white;
   
  }
  
  .Cargrid{
    background-color: white;
  display: flex;
  flex-wrap: wrap; 
  padding: 20px;
  justify-content: space-between;
  
 
   
  }

  .image-container{
    margin-right: 90px;
    margin: 20px;
  }

  .image_1{
width: 200px;
height: 200px;
margin: 4px;
padding: 5px;
border: 1px solid black;
border-radius: 4px;
  }
  
  .Footer {
    padding: 20px 0;
    text-align: center;
    margin-top: 200px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .footer-content:hover{
    cursor: pointer;
    
  }

  li:hover{
    text-decoration: underline yellow;
  }
  
  .footer-section {
    flex: 1;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }